<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모금 캠페인 만들기</title>
  <link rel="stylesheet" href="/static/create-styles.css">
</head>
<body>
<div class="container">
  <h1>Create Post</h1>
  <form action="/post/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="postTitle">캠페인 제목:</label>
      <input type="text" name="postTitle" id="postTitle" required>
    </div>
    <div class="form-group">
      <label for="postImage">대표 이미지:</label>
      <input type="file" name="postImage" id="postImage" accept="image/*">
    </div>
    <div class="form-group">
      <label for="organization">단체명:</label>
      <input type="text" name="organization" id="organization" required>
    </div>
    <div class="form-group">
      <label for="postContents">캠페인 설명:</label>
      <textarea name="postContents" id="postContents" rows="6" required></textarea>
    </div>
    <div class="form-group">
      <label for="startDate">모금 시작 날짜:</label>
      <input type="text" name="startDate" id="startDate" placeholder="YYYY-MM-DD" required>
    </div>
    <div class="form-group">
      <label for="endDate">모금 종료 날짜:</label>
      <input type="text" name="endDate" id="endDate" placeholder="YYYY-MM-DD" required>
    </div>
    <div class="form-group">
      <label for="postTargetAmount">목표 모금 금액:</label>
      <input type="number" name="postTargetAmount" id="postTargetAmount" required>
    </div>
    <div class="form-group">
      <input type="submit" value="글 작성">
    </div>
  </form>
  <a href="/donation" class="back-link">Back</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 토큰이 있으면 요청 보내기
        fetchData(`/post/create`);
    });

    async function fetchData(url) {
        try {
            const token = localStorage.getItem("token");
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}` // 토큰을 헤더에 포함하여 전달
                }
            });
            if (response.ok) {
                const data = await response.json();
                console.log('데이터 로드 성공:', data);
            } else {
                const errorData = await response.json();
                throw new Error("서버 오류: " + errorData.message);
            }
        } catch (error) {
            console.error("에러 발생:", error);
        }
    }
</script>
</body>
</html>