<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
  <link rel="stylesheet" href="/static/news-styles.css">
</head>
<body>
<div class="container">
  <h1>News</h1>
  <div class="news-content">
    <div th:if="${post.news == null or post.news.isEmpty()}">
      <p>새로운 소식이 아직 없어요.</p>
      <p>기부금이 잘 쓰였는지 확인할 수 있는</p>
      <p>프로젝트팀 사업 소식과 후기를 준비하고 있어요.</p>
      <p>곧 훈훈한 소식으로 찾아올게요.</p>
    </div>
    <div th:if="${post.news != null and not #strings.isEmpty(post.news)}">
      <p th:text="${post.news}"></p>
    </div>
  </div>
  <a th:href="@{/post/{id}(id=${post.id})}" class="action-link">Back</a>
</div>
<script>
    const postId = location.pathname.split("/")[2]
    document.addEventListener("DOMContentLoaded", function() {
        // 토큰이 있으면 요청 보내기
        fetchData(`/post/${postId}/news`);
    });

    async function fetchData(url) {
        try {
            const token = localStorage.getItem("token");
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}` // 토큰을 헤더에 포함하여 전달
                }
            });
            if (response.ok) {
                const data = await response.json();
                console.log('데이터 로드 성공:', data);
            } else {
                const errorData = await response.json();
                throw new Error("서버 오류: " + errorData.message);
            }
        } catch (error) {
            console.error("에러 발생:", error);
        }
    }
</script>
</body>
</html>