body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffed4d;
    text-align: center;
}

.news-content {
    margin-top: 20px;
    text-align: center; /* p 요소들을 가운데 정렬 */
}

.news-content p {
    margin-bottom: 10px;
    display: inline-block; /* 가운데 정렬을 위해 inline-block으로 설정 */
}

.action-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #ffed4d;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
}

.action-link:hover {
    background-color: #ffd700;
}