body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffed4d;
    text-align: center;
}

.post-details {
    margin-top: 20px;
}

.post-details div {
    margin-bottom: 10px;
}

.post-details strong {
    color: #333;
}

.post-details img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.action-buttons {
    margin-top: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
    align-items: center;
}

.action-buttons a {
    color: #333; /* 버튼 텍스트 색상 */
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.action-buttons a.news-button {
    background-color: #ff4d4d;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: auto;
}

.action-buttons a.news-button:hover {
    background-color: #ff6666;
}

/* 기부하기 버튼 스타일 */
.action-buttons a.donation-button {
    background-color: transparent;
    border: 2px solid;
    color: #1a75ff;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action-buttons a.donation-button:hover {
    background-color: #1a75ff;
    color: white;
}

/* 홈 버튼 스타일 */
.action-buttons a.home-button {
    background-color: transparent;
    border: 2px solid;
    color: #ffed4d;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action-buttons a.home-button:hover {
    background-color: #ffed4d;
    color: white;
}

/* 수정 버튼 스타일 */
.action-buttons a.edit-button,
.action-buttons button.delete-button {
    background-color: transparent;
    border: 2px solid;
    color: #333;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action-buttons a.edit-button,
.action-buttons button.delete-button{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/* Comment Style */
.comments {
    margin-top: 30px;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.comment p {
    margin: 0;
    font-size: 16px;
}

.comment .delete-btn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

.comment .delete-btn:hover {
    background-color: #ff6666;
}

.comment .delete-btn:focus {
    outline: none;
}

.comment-footer {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.progress-bar {
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* 절대 위치 설정 */
    width: 100%; /* 가로 너비 100% */
}

.progress-bar-fill {
    background-color: #ff6f61;
    height: 100%;
    transition: width 0.3s ease-in-out;
    position: absolute; /* 절대 위치 설정 */
    left: 0; /* 왼쪽 정렬 */
    top: 0; /* 위쪽 정렬 */
    text-align: center;
    border-radius: 10px; /* 부모 요소와 동일한 border-radius 적용 */
}

.progress-percent {
    font-size: 12px;
    color: #fff;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 캠페인 설명 */
.campaign-description {
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}