<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>signup</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>회원가입</h1>
<p>원활한 서비스를 이용을 위해 회원가입을 해주세요</p>
<form action="/members/signup" method="post">
  <div class="first-input input__block first-input__block">
      <input type="email" placeholder="Email" class="input" id="email">
  </div>
  <div class="input__block">
    <input type="password" placeholder="Password" class="input" id="password">
  </div>
  <button class="signup__btn">
    회원가입
  </button>
  <div class="separator">
    <p>OR</p>
  </div>
<!--  소셜 로그인 넣기 -->

</form>

</body>
</html>