<!doctype html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>signin</title>
</head>

<body>



<h2>Login</h2>

<p>아이디와 비밀번호를 입력해주세요</p>

<form action="/donation/signin" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        form.onsubmit = async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const response = await fetch('/donation/signin', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });
            if (response.ok) {
                const data = await response.json();
                // JWT 토큰을 로컬 스토리지에 저장
                localStorage.setItem("token", data.token);
                // 로그인 성공 후 처리, 예: 홈페이지로 리다이렉트
                window.location.href = "home.html";
            } else {
                alert("로그인 실패");
            }
        };
    });
</script>
</body>
</html>