<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="/static/signin_styles.css">
</head>
<body>
<div class="container">
    <h1>SIGN IN</h1>
    <ul class="links">
        <li>
            <a href="/donation/signin" id="signin">SIGN IN</a>
        </li>
        <li>
            <a href="/donation/signup" id="signup">SIGN UP</a>
        </li>
    </ul>
    <form action="/donation/signin" method="post">
        <!-- email input -->
        <div class="first-input input__block first-input__block">
            <label for="username">
                <input name="username" type="email" placeholder="Email" class="input" id="username"   />
            </label>
        </div>
        <!-- password input -->
        <div class="input__block">
            <label for="password">
                <input name="password" type="password" placeholder="Password" class="input" id="password"   />
            </label>
        </div>
        <button class="signin__btn" type="submit">
            로그인
        </button>
    </form>
    <div class="separator">
        <p>OR</p>
        <a href="/oauth2/authorization/naver">
            <img src="/static/naver.png" alt="네이버 로그인">
        </a>
        <br>
        <a href="/oauth2/authorization/kakao">
            <img src="/static/kakao.png" alt="카카오 로그인">
        </a>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        form.onsubmit = async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const json = Object.fromEntries(formData.entries());
            const response = await fetch('/donation/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(json) // FormData를 JSON 문자열로 변환
            });
            if (response.ok) {
                const data = await response.json();
                console.log(`data = ${JSON.stringify(data)}`);
                localStorage.setItem("token", data.token);
                console.log(data.token);
                fetchData("/")
                location.replace('/donation');
                // 사용자가 관리자유무 확인필요
            } else {
                const errorData = await response.json();
                alert("로그인 실패: " + errorData.message);
            }
        };
    });

    async function fetchData(url) {
        const token = localStorage.getItem("token");
        try {
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            });
            if (response.ok) {
                const data = await response.json();
                console.log('데이터 로드 성공:', data);
            } else {
                const errorData = await response.json();
                throw new Error("서버 오류: " + errorData.message);
            }
        } catch (error) {
            console.error("에러 발생:", error);
        }
    }
</script>
</body>
</html>