<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Upgrades Page</title>
</head>
<body>
<h1>단체/기업 전환 신청 목록</h1>
<div th:unless="${upgradeList.isEmpty()}">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>조직</th>
      <th>신청 사유</th>
      <th>수락</th>
      <th>거절</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="upgradeRequest : ${upgradeList.content}">
      <td th:text="${upgradeRequest.id}"></td>
      <td th:text="${upgradeRequest.organization}"></td>
      <td th:text="${upgradeRequest.applicationReason}"></td>
      <td>
        <!-- 신청 수락 버튼 -->
        <!--        <form th:action="@{'/admin/upgrades/' + upgradeRequest.id + '/accept'}" method="post">-->
        <!--          <button type="submit">수락</button>-->
        <!--        </form>-->
        <!--        <form th:action="@{/admin/upgrades/${id}/reject(id=${upgradeRequest.id})}" method="post">-->
        <!--          <button type="submit">수락</button>-->
        <!--        </form>-->
        <form action="/admin/upgrades/${upgradeRequest.id}/accept" method="post">
          <button type="submit">수락</button>
        </form>
      </td>
      <td>
        <!-- 신청 거절 버튼 -->
        <form action="/admin/upgrades/${upgradeRequest.id}/reject" method="post">
          <button type="submit">거절</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:if="${upgradeList.isEmpty()}">
  <p>전환 신청이 없습니다.</p>
</div>
<script>
    // 토큰 가져오기
    const token = localStorage.getItem('token');

    // API 호출 시에 토큰을 포함하여 요청
    async function fetchUpgradeList() {
        try {
            const response = await fetch('/admin/upgrades', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            });

            if (response.ok) {
                const data = await response.json();
                console.log(data); // 서버에서 받은 데이터 확인
            } else {
                console.error('API 호출 실패:', response.statusText);
            }
        } catch (error) {
            console.error('API 호출 중 에러 발생:', error);
        }
    }

    // 페이지 로드 시 전환 신청 목록 가져오기
    window.addEventListener('load', fetchUpgradeList);
</script>
</body>
</html>